
TenisElo\.Data/bin/

TenisElo\.Data/obj/

TenisElo\.Entities/bin/

TenisElo\.Entities/obj/

TenisElo\.Repository/bin/

TenisElo\.Repository/obj/

TenisElo\.Service/bin/

TenisElo\.Service/obj/

TenisElo\.Web/bin/

TenisElo\.Web/obj/
